<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new note</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <style>
        .autocomplete {
            width: 300px;
            padding: 10px;
            margin: 20px;
        }
	.connection-row {
            margin-bottom: 10px;
        }
        #sendButton {
            padding: 10px 20px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
    <header class="main_header">
        <h2 class="main_header__header">Add a new note</h2>
    </header>
    <div class="form_wrapper">
        <form action="" method="POST">
            {% csrf_token %}
            {{ note_form.as_p }}
	    {{ note_form.errors }}
            <h2>References</h2>
            {{ connection_formset.management_form }}
            <div id="formset">
                {% for form in connection_formset %}
		<div class="connection-row">
		{{ form.errors }}
                    <div class="form-row">
                        {{ form.source.label_tag }} {{ form.source }}
                        {{ form.comment.label_tag }} {{ form.comment }}
	    <button type="button" id="deleteConnection" class="delete-connection">Delete Connection</button>
                    </div>
		</div>
                {% endfor %}
            </div>
            <!-- <button id="sendButton" type="submit">Send</button> -->
            <button type="button" id="addConnection">Add Connection</button>
	    <br>
<input type="submit" value="Submit">
        </form>
    </div>
    <script>
        $(function() {
            var notes = [
                {% for note in notes %}
                    { label: "{{ note.name }}", value: "{{ note.id }}" },
                {% endfor %}
            ];

            function applyAutocomplete(selector) {
                $(selector).autocomplete({
                    source: notes,
                    minLength: 0,
                    select: function(event, ui) {
                        $(this).val(ui.item.label);
                        $(this).next("input[type=hidden]").val(ui.item.value);
                        return false;
                    }
                }).focus(function () {
                    $(this).autocomplete("search", "");
                });
            }

            $('.autocomplete').each(function() {
                applyAutocomplete(this);
            });

	    // not needed, just for testing purposes
            $("#sendButton").click(function() {
                var selectedTexts = [];
                $('.autocomplete').each(function() {
                    selectedTexts.push($(this).val());
                });
            });
	    $('#addConnection').click(function() {
                var formCount = $('#formset .connection-row').length;
                var newForm = $('#formset .connection-row:last').clone(true);
                newForm.find('input, select').each(function() {
                    var name = $(this).attr('name').replace('-' + (formCount - 1) + '-', '-' + formCount + '-');
                    $(this).attr('name', name);
                    $(this).val('');
                });
		/* newForm.find('.delete-connection').remove(); */
                $('#formset').append(newForm);
                applyAutocomplete(newForm.find('.autocomplete'));
            });

            $('#deleteConnection').click(function() {
                $(this).closest('.connection-row').remove();
            });
        });
    </script>
</body>
</html>
