{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if note_form.instance.pk %}Edit{% else %}Add{% endif %} Note</title>
    <link href="{% static 'autocomplete_light/select2.css' %}" rel="stylesheet">
    <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script src="{% static 'autocomplete_light/autocomplete_light.js' %}"></script>
    <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link href="{% static 'add_note/add_note.css' %}" rel="stylesheet">
    <link href="{% static 'navbar/navbar.css' %}" rel="stylesheet">
    <script src="{% static 'add_note/add_note.js' %}"></script>
</head>
<body>
    {% include navbar %}
    <header class="main_header">
        <h2 class="main_header__header">{% if note_form.instance.pk %}Edit{% else %}Add{% endif %} Note</h2>
    </header>
    <div class="form_wrapper">
        <form action="" method="POST" autocomplete="off">
            {% csrf_token %}
            {{ note_form.as_p }}
            {{ note_form.errors }}
            <h2>References</h2>
            {{ connection_formset.management_form }}
            <div id="formset-container">
                {% for form in connection_formset %}
                    {{ form.errors }}
                    <div class="form-row connection-row">
                        {{ form.id }}
                        {{ form.source.label_tag }} {{ form.source }}
                        <button type="button" class="delete-connection">Delete Connection</button>
                        {{ form.comment.label_tag }} {{ form.comment }}
                        {{ form.DELETE.as_hidden }}
                        {{ form.media }}
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="addConnection">Add Connection</button>
            <br>
            <button id="sendButton" type="submit">Send</button>
        </form>
    </div>
</body>
</html>
