<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All notes</title>
    </head>
  <body>
    <h2>All files tracked by noteman</h2>
    {% if notes %}
      <!-- TODO: maybe factor this for loop and the one in notes.html as they are quite similar -->
    {% for note in notes %}
    <div>
    <a href="{% url 'dashboard:note_detail' note.id %}"> {{ note.name }}</a>
      </div>
    {% endfor %}
    {% else %}
    <p> No notes yet </p>
    {% endif %}
    </body>
  </html>
