{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>All tags list</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'all_tags/all_tags.js' %}"></script>
    <link href="{% static 'all_tags/all_tags.css' %}" rel="stylesheet">
</head>
<body>
  <h2>Add new tags</h2>
  <form id="tag-form" class="tag-form" method="post">
    {% csrf_token %}
    <div id="formset-container">
      {{ tag_formset.management_form }}
      {% for form in tag_formset %}
        <div class="form-row">
          {{ form.name.label_tag }} {{ form.name }}
          <button type="button" class="delete-form-row">Delete</button>
        </div>
      {% endfor %}
    </div>
    <button type="button" id="add-more">Add More</button>
    <button type="submit">Submit</button>
  </form>

  <h2>All tags used by noteman</h2>
  <div class="tag-container">
  {% if tags %}
    {% for tag in tags %}
      <div class="tag-item">
        {{ tag.name }}
      </div>
    {% endfor %}
  {% else %}
    <p>No tags yet</p>
  {% endif %}
  </div>
</body>
</html>
