<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ note.name }} </title>
    </head>
  <body>
    <div class="note">
      <h2>Note</h2>
    <table>
      <tr>
	<th> Name </th>
	<!-- TODO: make note.name into a URL to the actual local file?  -->
	<td> {{ note.name }} </td>
      </tr>
      <tr>
	<th> Creation date </th>
	<td> {{ note.cr_time }} </td>
      </tr>
      <tr>
	<th> Resource type </th>
	<td> {{ note.type }} </td>
      </tr>
      {% if note.description %}
      <tr>
	<th> Description </th>
	<td> {{ note.description }} </td>
      </tr>
      {% endif %}
    </table>
    <div class="tags">
      <h2>Tags</h2>
      {% if tags %}
      {% for tag in tags|dictsort:"name" %}
	<!-- TODO: make these tags into urls? and style them with CSS -->
				<span class="tag">{{ tag.name }}</span>{% if not forloop.last %}, {% endif %}
      {% endfor %}
      {% else %}
      <p> This note does not have any tags </p>
      {% endif %}
    </div>
<div class="sources">
  <h2>References</h2>
  {% if connections %}
  {% for connection in connections %}
  <div>
    <a href="{% url 'dashboard:note_detail' connection.source.id %}"> {{ connection.source.name }}</a>
    {{ connection.comment }}
  </div>
  {% endfor %}
  {% else %}
  <p> This note does not reference any other notes </p>
  {% endif %}
</div>
    </div>
    </body>
  </html>
