{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <link href="{% static 'note/note.css' %}" rel="stylesheet">
    <link href="{% static 'navbar/navbar.css' %}" rel="stylesheet">
    <title> {{ note.name }} </title>
    </head>
  <body>
    {% include navbar %}
    <div class="note">
      <h2>Note metadata</h2>
      <a href="{% url 'dashboard:edit_note' note.id %}">
      <button>
	  Edit
      </button>
      </a>
    <table>
      <tr>
	<th> Name </th>
	<td> {{ note.name }} </td>
      </tr>
      <tr>
	<th> Creation date </th>
	<td> {{ note.cr_time|date:"Y-m-d H:i:s" }} </td>
      </tr>
      <tr>
	<th> Resource type </th>
	<td> {{ note.type }} </td>
      </tr>
      {% if note.description %}
      <tr>
	<th> Description </th>
	<td class="whitespace"> {{ note.description }} </td>
      </tr>
      {% endif %}
    </table>
    <div class="tags">
      <h2>Tags</h2>
      {% if tags %}
      {% for tag in tags|dictsort:"name" %}
	<span class="tag">{{ tag.name }}</span>{% if not forloop.last %} {% endif %}
      {% endfor %}
      {% else %}
      <p> This note does not have any tags </p>
      {% endif %}
    </div>
<div class="sources">
  <h2>References</h2>
  {% if connections %}
  <table>
  {% for connection in connections %}
      <tr>
	  <th>
	      <a class="link" href="{% url 'dashboard:note_detail' connection.source.id %}"> {{ connection.source.name }}</a> </th>
	  <td class="whitespace"> {{ connection.comment }} </td>
      </tr>
  {% endfor %}
  </table>
  {% else %}
  <p> This note does not reference any other notes </p>
  {% endif %}
</div>
    </div>
    </body>
  </html>
