<nav class="navigation__wrapper">
    <ul class="navigation">
	<li class="navigation__item">
	<a href="{%url 'dashboard:index' %}" class="navigation__link">Main</a>
	</li>
	<li class="navigation__item">
	<a href="{%url 'dashboard:all_notes' %}" class="navigation__link">All notes</a>
	</li>
	<li class="navigation__item">
	<a href="{%url 'dashboard:all_tags' %}" class="navigation__link">All tags</a>
	</li>
	<li class="navigation__item">
	<a href="{%url 'dashboard:add_note' %}" class="navigation__link">Add note</a>
	</li>
    </ul>
</nav>
